body {
  background-color: #bc986c;
}

#img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#only-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
